/* Formularze  */
input[type=text] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}

/* Przyciski */
button {
    background-color: rgb(1, 178, 249);
    padding: 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(1, 253, 255);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* Pasek nawigacyjny */
.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    margin: 0 10px;
    position: relative;
}

.circle.active {
    background-color: dodgerblue;
}

.circle.completed {
    background-color: steelblue;
}

.circle::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -50px;
    width: 50px;
    height: 4px;
    background-color: lightgray;
    transform: translateY(-50%);
}

.circle:last-child::after {
    display: none;
}

.circle.completed::after {
    background-color: steelblue;
}
