/* Formularze  */
input[type=text] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}

/* Przyciski */
button {
    background-color: rgb(1, 178, 249);
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(1, 253, 255);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* Pasek nawigacyjny */
.progress {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    position: relative;
}

.circle.active {
    background-color: dodgerblue;
}

.circle.completed {
    background-color: steelblue;
}

.step::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 75px;
    height: 4px;
    background-color: lightgray;
    transform: translateY(-50%);
    z-index: -1;
}

.step:last-child::after {
    display: none;
}

.step.completed::after {
    background-color: steelblue;
}

.label {
    margin-top: 8px;
    font-size: 14px;
    color: #1723cc;
}
