.container {
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 26px;
    text-decoration: dashed;    
}

p {
    font-size: 20px;
}